.question {
  font-weight: bold;
  font-size: 12vw;
  line-height: 9vw;
  color: #6B4423;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 30vh;
  align-items: center;
}

.container-error .question {
  color: #f600474f;
}

.name {
  font-size: 5vw;
  color: #00000038;
  opacity: 0;

}

.container-correct .name, .container-error .name {
  opacity: 1;
}

.container-correct .question {
  color: #b6fdc1;
}

.answer {
  font-size: 10vw;
  color: #C27939;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 20vh;
  align-items: center;
}

.container-error .answer {
  color: black;
}

.wrong-answer {
  opacity: 0;
}

.container-error .total, .container-correct .total {
  color: black;
  opacity: 0.5;
}

.total {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #bf9d7f;
  opacity: 1;
  font-size: 5vw;
}

.animate {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #b97840;
  opacity: 0;
  font-size: 5vw;

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.5;
    font-size: 5vw;
  }
  100% {
    opacity: 0;
    font-size: 15vw;
  }
}

.hidden {
  display: none;
}

.container-error .wrong-answer {
  font-size: 5vw;
  opacity: 1;
  color: #00000038;
  text-decoration: line-through;

}

.container-correct .answer {
  color: black;
}

.container, .container-error, .container-correct {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-error {
  background-color: #FFB1C2;
}

.container-correct {
  background-color: #70ff94;
}

.underscore {
  color: black;
  animation: blinker 1s linear infinite;
}

.container-error .underscore, .container-correct .underscore {
  display: none;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.container-error .timer {
  display: none;
}

.container-correct .timer {
  display: none;
}


.timer {
  position: absolute;
  bottom: 0;
  right: 0;
}