.container {
	font-size: 5vw;
}

.revision {
	font-size: 2vw;
	color: #ccc;
	position: relative;
    top: -5vw;
}

.complete1 {
	background-color: #dc0040;
}

.complete2 {
	background-color: orange;
    opacity: 0.6;
}

.complete3 {
	background-color: #56d269;
}

.incomplete {
	background-color: #ccc;
}

.dots {
}

.dots span {
	display: inline-block;
	border-radius: 100%;
	height: 3vw;
	width: 3vw;
	margin: 1vw;
}